.app {
  background-color: rgba(var(--gray));
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: start;
  min-height: calc(100% - 2rem);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.app > * {
  flex-shrink: 1;
}

h1 span {
  display: table;
}

span.demo {
  display: inline-flex;
  align-items: center;
  /* background-color: rgba(var(--cyan), 0.3); */
  font-size: .7em;
  margin-top: 1.5rem;
}

.sparkles {
  height: 2.5rem;
  padding: 0 .5rem;
  background-color: rgba(var(--gray));
}
